<% if @action.errors.any? %>
  <% @action.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit action #<%= @action.id %>
</h1>

<hr>

<form action="/update_action/<%= @action.id %>" method="post">

  <div class="form-group">
    <label for="target_date">
      Target date
    </label>

    <input type="text" id="target_date" name="target_date" class="form-control" value="<%= @action.target_date %>">
  </div>

  <div class="form-group">
    <label for="lead_person">
      Lead person
    </label>

    <input type="text" id="lead_person" name="lead_person" class="form-control" value="<%= @action.lead_person %>">
  </div>

  <div class="form-group">
    <label for="resources_needed">
      Resources needed
    </label>

    <input type="text" id="resources_needed" name="resources_needed" class="form-control" value="<%= @action.resources_needed %>">
  </div>

  <div class="form-group">
    <label for="implementation_specifics">
      Implementation specifics
    </label>

    <input type="text" id="implementation_specifics" name="implementation_specifics" class="form-control" value="<%= @action.implementation_specifics %>">
  </div>

  <div class="form-group">
    <label for="measure_success">
      Measure success
    </label>

    <input type="text" id="measure_success" name="measure_success" class="form-control" value="<%= @action.measure_success %>">
  </div>

  <div class="form-group">
    <label for="goal_id">
      Goal
    </label>

    <%= select_tag(:goal_id, options_from_collection_for_select(Goal.all, :id, :created_at, @action.goal_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update action
  </button>
</form>

<hr>

<a href="/actions">
  Go back
</a>
